header {
    width: 100%;
    height: 70px;
}

h5 {
  font-size: 16px;
}

#intro {
    margin-top: 70px;
    min-height: 100vh;
}
#terminal {
  background: #0a1704;
  border-radius: 1em;
  box-shadow: 0 .5em 1em 1em rgba(0,0,0,.5);
  font-family: monaco,Consolas,Lucida Console,monospace;
  width: 40vw;
  max-width: 40vw;
}
#terminal .terminal-header-buttons {
  display: flex;
  flex-direction: row;
  padding: .5em 1em;
}
#terminal .terminal-body {
  padding: 1em;
  color: #0d339d;
  height: 50vh;
  min-height: 30em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#terminal .terminal-control {
  color: #0d339d;
}
#terminal .terminal-tmux-bar {
  background: #3d65d3;
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: row;
  color: #0d339d;
  font-size: .8em;
}
#terminal .terminal-control .terminal-input {
  color: #f45bee;
}
#terminal .terminal-control .terminal-input .field .input {
  background: transparent;
  border: none;
  padding-top: 0;
  padding-left: 1em;
  font-family: monaco,Consolas,Lucida Console,monospace;
  color: #0d339d;
  box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
  max-width: 100%;
  width: 100%;
  caret-color: transparent;
}
#terminal .terminal-control .terminal-input .field .cursor {
  display: none;
  background: #0d339d;
  width: .5em;
  height: 1.2em;
  animation: flash 1s infinite;
  position: absolute;
  top: .25em;
  left: 1em;
}
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
#terminal .terminal-control .terminal-input .field .input:active, #terminal .terminal-control .terminal-input .field .input:focus, #terminal .terminal-control .terminal-input .field .input:hover {
  outline: none;
  box-shadow: none;
}
#terminal .terminal-control .terminal-input .field .cursor {
  display: none;
  background: #0d339d;
  width: .5em;
  height: 1.2em;
  animation: flash 1s infinite;
  position: absolute;
  top: .25em;
  left: 1em;
}
#About {
    background-color: #ccc;
    min-height: 100vh;
}

#cursor {
  margin: 0;
  display: inline-block;

}

#intro .social-buttons img {
  width: 48px;
  height: 48px;
  transition: transform 1.5s ease;
}

#tools img {
  width:48px;
  height:48px;
}

.bg-gray-50 {
  background-color: rgb(249 250 251 / 1);
  margin: 0.5rem;
  height: 60px;
  min-width: 23%;
  cursor: pointer;
}
#Projects span {
   padding: 10px 20px 10px 20px;
}
#Projects hr {
  border-width:2px;
  margin-top:06px;
}
#Projects .card { 
  border-radius: 2rem;
  min-height: 605px;
}

#Contact .col {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(135deg, #83b3db 0px, #83b3db 30px, transparent 30px, transparent 50px, #83b3db 50px, #84ADCB 80px, transparent 80px, transparent 100px);
  padding: 20px !important;
  border: none !important;
  border-radius: 0px;

}


.sender {
  position: absolute;
  left: 5vw;
  font-family: cursive;
  font-weight: 500;
  font-size: 2.2rem;
  opacity: 0;
}

.recipient {
  position: absolute;
  top: 60%;
  left: 25vw;
  font-family: cursive;
  font-weight: 500;
  font-size: 2.2rem;
  opacity: 0;
}

.seal {
  opacity: 0;
  position: absolute;
  right: 0;
  row-gap: .625rem;
}


#Contact button {
  background-color: #3d719b;
  border: 0;
  width: auto;
  min-width: 180px;
  height: 3rem;
  border-radius: 4px;
  font-weight: 500;
  padding: 0.75rem;
}
input#email {
  max-width: 70%;
}
#Contact textarea {
  max-width: 70%;
}
.required {
  color: red;
}
  /* hover */

  @media (hover:hover) {
    
    #intro .social-buttons img:hover {

      transform: scale(1.25);
      transition: transform 1.5s ease;
    }

  }

  /* mobile */

  @media only screen and (max-width:767px) {

    .recipient, .sender {
      font-size: 1rem;
      font-weight: 800;

    }
    #Contact .seal img {
      max-width: 100px;
    }
  }

  /* keyframes */

  @keyframes flash {
    0% {
      opacity: 1;
    }
    59% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    81% {
    opacity: 1;
    }

  }