header {
    width: 100%;
    height: 70px;
}

h5 {
  font-size: 16px;
}

#intro {
    margin-top: 70px;
    min-height: 100vh;
}

#About {
    background-color: #ccc;
    min-height: 100vh;
}

#cursor {
  margin: 0;
  display: inline-block;

}

#intro .social-buttons img {
  width: 48px;
  height: 48px;
  transition: transform 1.5s ease;
}

#tools img {
  width:48px;
  height:48px;
}

.bg-gray-50 {
  background-color: rgb(249 250 251 / 1);
  margin: 0.5rem;
  height: 60px;
  min-width: 23%;
  cursor: pointer;
}
#Projects span {
   padding: 10px 20px 10px 20px;
}
#Projects hr {
  border-width:2px;
  margin-top:06px;
}
#Projects .card { 
  border-radius: 2rem;
  min-height: 605px;
}

#Contact .col {

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: repeating-linear-gradient(135deg, #83b3db 0px, #83b3db 30px, transparent 30px, transparent 50px, #83b3db 50px, #84ADCB 80px, transparent 80px, transparent 100px);
  padding: 20px !important;
  border: none !important;
  border-radius: 0px;

}
  /* hover */

  @media (hover:hover) {
    
    #intro .social-buttons img:hover {

      transform: scale(1.25);
      transition: transform 1.5s ease;
    }

  }